.user-item {
    display: flex;
    align-items: center;
}

.user-item__meta {
    flex: 3
}

.user-item__actions {
    flex: 1
}

.user-item__actions button {
    width: 84px;
    margin-left: 5px;
    text-align: center;
}

.spinnerWrapper {
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
    width: 10px;
    height: 10px;
}

.spinner .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}